.liner {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 60px 30px 60px;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media (max-width: 64em) {
  .body {
    flex-wrap: wrap;
    max-width: 70vw;
  }
}

@media (max-width: 55em) {
  .liner {
    padding: 0px 20px 20px 20px;
    justify-content: flex-start;
    gap: 20px;
  }

  .body {
    flex-wrap: wrap;
    max-width: 70vw;
  }
}

@media (max-width: 27em) {
  .liner {
    padding: 0px 10px 20px 10px;
    justify-content: center;
  }

  .sidebar {
    display: none;
  }

  .body {
    max-width: 100vw;
  }
}
