.liner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 60px 30px 60px;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 50px;
}