.liner {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 225px;
    border-radius: 5px;
    border: 1.2px solid var(--black);
}

.difficultyTab {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.beginner {
    background-color: var(--lightGreen);
}

.intermediate {
    background-color: var(--lightBlue);
}

.advanced {
    background-color: var(--lightOrange);
}

.title {
    font-size: 23px;
    width: 55%;
    overflow-x: wrap;
    padding: 25px 0px 25px 20px;
    line-height: 27px;
}

.description {
    padding: 10px 20px 0px 20px;
}