.liner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.title {
    font-size: 24px;
}

.courseSection {
    width: 900px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    gap: 42px;
}
